.footer {
  background: #229799;
  color: var(--dreamer-item-background-color);
  display: flex;
  align-items: center;
  height: 126px;
  margin-top: 0;
}

.footer-left {
  display: flex;
  margin-left: 121px;
  margin-top: 43px;
  margin-bottom: 40px;
  align-items: center;
  gap: 67px;
}

.footer-right {
    display: flex;
    margin-left: 115px;
    margin-right: 99px;
    margin-top: 24px;
    margin-bottom: 26px;
    align-items: center;
    font-family: "Joan", serif;
    font-size: 28px;
}

.footer-center {
  margin-bottom: 46px;
  margin-top: 46px;
  margin-left: 321px;
  margin-right: 115px;
  flex: 1;
  width: 217px;
  height: 40px;
  text-align: center;
  font-size: 40px;
  font-family: "Meera Inimai", sans-serif;
  font-style: regular;
  color: var(--dreamer-item-background-color);
}

.Youtube-icon{
  width: 58px;
  height: 42px;
  padding: 4px;
  object-fit: contain;
 transition: color 1.2s cubic-bezier(.4,0,.2,1);
}

.Github-icon{
   width: 45px;
  height: 42px;
  padding: 4px;
  object-fit: contain;
 transition: color 1.2s cubic-bezier(.4,0,.2,1);
}

.Youtube-icon:hover,
.Github-icon:hover {
  color: var(--dreamer-rank-color);
}