html, body {
  height: 100%;
  margin: 0;
  position: relative;
  background-color: var(--home-page-background-color);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.home-page {
  width: 100wh;
  max-width: 1440px;
  margin: 0 auto; 
  background-color: var(--home-page-background-color);
}

.divider {
 width: 3px;
    background-color: var(--divider-background-color);
    margin-top: 30px;
    min-height: 400px;
    align-self: stretch;
    margin-bottom: 30px;
}


.dream-block {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  padding: 0px;
}


@media (min-height: 800px) {
  .home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
}

button {
  background: #007bff;
  color: white;
  padding: 10px 20px;
}